<?xml version="1.0" ?>
<ProblemDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="ProblemDefinition.xsd">
	<events>
	    <event type="invoke" name="open" label="OPEN" />
	    <event type="invoke" name="write" label="WRITE" />
	    <event type="invoke" name="close" label="CLOSE" />
	</events>
</ProblemDefinition>