<?xml version="1.0" ?>
<ProblemDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="ProblemDefinition.xsd">
	<events>
	    <event type="invoke" name="imprimirA" label="A" />
	    <event type="invoke" name="imprimirB" label="B" />
	    <event type="invoke" name="imprimirC" label="C" />
	</events>
</ProblemDefinition>