<?xml version="1.0" ?>
<ProblemDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="ProblemDefinition.xsd">
	<events>
	    <event type="invoke" name="winner" label="W" />
	    <event type="invoke" name="init" label="INIT" />
	    <event type="invoke" name="end" label="END" />
	</events>
</ProblemDefinition>